header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: rgba(142, 142, 142, 0.21);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	z-index: 999;
	flex: auto;
}

/* ---リンクナビ設定--- */
.nav-box {
	overflow-x: auto;
}

.nav-header {
	margin-top: 0em;
	margin-bottom: 0em;
	width: fit-content;
	height: auto;
	background-color: rgba(142, 142, 142, 0.1);
	box-sizing: border-box;
	display: flex;
	align-items: center;
	border-radius: 10px;
	padding-left: 1em;
}

.nav-ul {
	padding: 0 1em;
	display: flex;
}

.nav-ul li {
	list-style: none;
}

.nav-link {
	display: block;
	width: 7em;
	text-decoration: none;
	margin-right: 1em;
	font-weight: bold;
	color: var(--main-tcolor);
	padding: 1px 0.5em;
	border: 2px solid var(--main-tcolor);
	border-radius: 5px;
	background-color: var(--accent-bcolor);
}

.nav-link:hover {
	transform: scale(1.1);
	transition: all 0.5s ease;
	color: var(--accent-bcolor);
	background-color: var(--main-tcolor);
}

/* ---ハンバーガーメニュー--- */
.menu-wrapper {
	position: relative;
}

.menu-icon {
	width: 40px;
	height: 30px;
	position: absolute;
	/*← fixedにして常に左上固定*/
	top: 7px;
	right: 20px;
	cursor: pointer;
	z-index: 3;
	display: inline-block;
}

.menu-icon span {
	display: block;
	height: 4px;
	margin: 6px 0;
	background: #333;
	border-radius: 2px;
	transition: 0.4s;
}

.dark-mode .menu-icon span {
	background: #e0e0e0;
}

#menu-toggle:checked+.menu-icon span:nth-child(1) {
	transform: translateY(10px) rotate(45deg);
}

#menu-toggle:checked+.menu-icon span:nth-child(2) {
	opacity: 0;
}

#menu-toggle:checked+.menu-icon span:nth-child(3) {
	transform: translateY(-10px) rotate(-45deg);
}

.overlay {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	pointer-events: none;
	transition: 0.4s;
	z-index: 1;
}

#menu-toggle:checked~.overlay {
	opacity: 1;
	pointer-events: auto;
}

.menu {
	position: fixed;
	top: 0;
	right: -250px;
	/* ← 初期位置を左へ */
	width: 250px;
	height: 100%;
	background: #fff;
	box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
	transition: right 0.4s ease;
	z-index: 2;
}

.dark-mode .menu {
	background: #2a2a2a;
}

#menu-toggle:checked~.menu {
	right: 0;
	/* ← 開いたときは左0へ */
}

.menu ul {
	overflow-y: auto;
	height: 80%;
	list-style: none;
	padding: 60px 20px;
}

.menu li {
	margin: 20px 0;
}

.menu a {
	text-decoration: none;
	color: #333;
	font-size: 1.2rem;
	transition: color 0.3s;
}

.dark-mode .menu a {
	color: #e0e0e0;
}

.menu a:hover {
	color: #007bff;
}

@media (max-width: 768px) {
}