/* ---見出し設定--- */
h1 {
	margin: 20px;
	color: var(--accent-tcolor);
	font-family: var(--accent-font);
	transition: color 0.3s ease;
	position: relative;
	padding: 0.25em 1em;
	border: solid 2px black;
	border-radius: 3px 0 3px 0;
	text-align: center;
}

h1:before,
h1:after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	border: solid 2px black;
	border-radius: 50%;
}

h1:after {
	top: -12px;
	left: -12px;
}

h1:before {
	bottom: -12px;
	right: -12px;
}

.dark-mode h1 {
	color: #b1bae0;
}

h2 {
	font-family: var(--accent-font);
	color: #505050;
	padding: 0.5em;
	display: inline;
	line-height: 1.3;
	background: var(--accent-bcolor);
	vertical-align: middle;
	border-radius: 25px 0px 0px 25px;
}

h2:before {
	content: '●';
	color: var(--accent-tcolor);
	margin-right: 8px;
}

h3::before {
	font-family: var(--accent-font);
	content: '';
	display: inline-block;
	margin-right: 0.1em;
	padding-bottom: 4;
	width: 20px;
	height: 20px;
	background-image: url(img/はにわ_fill.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
	filter: invert(0%);
}

.dark-mode h3::before {
	filter: invert(100%);
}


@media (max-width: 768px) {
	h1 {
		font-size: 24px;
	}

	h2 {
		font-size: 20px;
	}

	h3 {
		font-size: 18px;
	}
}