@import url(imports/header.css);
@import url(imports/table.css);
@import url(imports/button.css);
@import url(imports/headline.css);
@import url(imports/items.css);

/* ---本体設定--- */
@font-face {
	font-family: 'taisho';
	src: url('fonts/taisyokatujippoi7T5.ttf') format('truetype');
	font-display: swap;
}

* {
	--main-tcolor: #232323;
	--main-bcolor: #ffffff;
	--accent-tcolor: #a20000;
	--accent-bcolor: #fff4f4;
	--serif-font: "YuMincho", "Hiragino Mincho ProN W3", "Hiragino Mincho ProN", serif;
	--sansSerif-font: "Hiragino Kaku Gothic ProN", "Yu Gothic", "Noto Sans JP", sans-serif;
}

.dark-mode * {
	--main-tcolor: #232323;
	--main-bcolor: #ffffff;
	--accent-tcolor: #a20000;
	--accent-bcolor: #fff4f4;
}

html {
	scroll-behavior: smooth;
}

body {
	max-width: 90%;
	margin: 80px auto;
	box-sizing: border-box;
	background-color: var(--main-bcolor);
	font-size: 16px;
	color: var(--main-tcolor);
	font-family: var(--serif-font);
	transition: background-color 0.3s ease, color 0.3s ease;
}

.hist-main {
	margin: 5px;
}

.flex-box {
	display: flex;
	justify-content: space-around;
	gap: 10px;
	flex-wrap: wrap;
}

.flex-children {
	flex: 1 1 0;
	/* grow shrink basis */
	min-width: 250px;
}

@media (max-width: 768px) {
	body {
		max-width: 95%;
		font-size: 16px;
	}
}

a {
	color: #001b54;
	text-decoration: none;
}