@import url(header.css);
@import url(table.css);
@import url(button.css);

/* ---本体設定--- */
@font-face {
	font-family: 'taisho';
	src: url('fonts/taisyokatujippoi7T5.ttf') format('truetype');
	font-display: swap;
}

* {
	--main-tcolor: #232323;
	--main-bcolor: #ffffff;
	--accent-tcolor: #a20000;
	--accent-bcolor: #fff4f4;
	--main-font: "YuMincho", "Hiragino Mincho ProN W3", "Hiragino Mincho ProN", serif;
	--accent-font: "Hiragino Kaku Gothic ProN", "Yu Gothic", "Noto Sans JP", sans-serif;
}

html {
	scroll-behavior: smooth;
	container-type: scroll-state;
}

body {
	max-width: 90%;
	margin: 80px auto;
	box-sizing: border-box;
	background-color: var(--main-bcolor);
	font-size: 16px;
	color: var(--main-tcolor);
	font-family: var(--main-font);
	transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
	background-color: #1a1a1a;
	color: #e0e0e0;
}

.hist-main {
	margin: 5px;
}

@media (max-width: 768px) {
	body {
		max-width: 95%;
		font-size: 16px;
	}

	h1 {
		font-size: 24px;
	}

	h2 {
		font-size: 20px;
	}

	h3 {
		font-size: 18px;
	}
}


/* ---見出し設定--- */

h1 {
	color: var(--accent-tcolor);
	font-family: var(--accent-font);
	transition: color 0.3s ease;
}

.dark-mode h1 {
	color: #b1bae0;
}

h3::before {
	content: '';
	display: inline-block;
	margin-right: 0.1em;
	padding-bottom: 4;
	width: 20px;
	height: 20px;
	background-image: url(img/はにわ_fill.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
	filter: invert(0%);
}

.dark-mode h3::before {
	filter: invert(100%);
}

/* ---箇条書き設定--- */
.hist-main ul {
	list-style: none;
	padding-left: 0;
}

.hist-main ul li {
	border-top: 1px dashed #a1a1a1;
	padding-top: 5px;
}

.hist-main ul li ul {
	list-style: none;
	padding-left: 1.5em;
}

.hist-main ul li ul li::before {
	content: '';
	display: inline-block;
	width: auto;
	height: auto;
	background-image: none;
	vertical-align: middle;
	margin-right: 0;
}

/* ---その他--- */

a {
	color: #001b54;
	text-decoration: none;
}

.dark-mode a {
	color: #b6d9ff;
}

.dark-mode img {
	filter: invert(30%);
}