@import url(header.css);
@import url(table.css);
@import url(button.css);
@import url(headline.css);
@import url(items.css);

/* ---本体設定--- */
@font-face {
	font-family: 'taisho';
	src: url('fonts/taisyokatujippoi7T5.ttf') format('truetype');
	font-display: swap;
}

* {
	--main-tcolor: #232323;
	--main-bcolor: #ffffff;
	--accent-tcolor: #a20000;
	--accent-bcolor: #fff4f4;
	--main-font: "YuMincho", "Hiragino Mincho ProN W3", "Hiragino Mincho ProN", serif;
	--accent-font: "Hiragino Kaku Gothic ProN", "Yu Gothic", "Noto Sans JP", sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	max-width: 90%;
	margin: 85px auto;
	box-sizing: border-box;
	background-color: var(--main-bcolor);
	font-size: 16px;
	color: var(--main-tcolor);
	font-family: var(--main-font);
	transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
	background-color: #1a1a1a;
	color: #e0e0e0;
}

.hist-main {
	margin: 5px;
}

.flex-box {
	display: flex;
	justify-content: space-around;
	gap: 10px;
	flex-wrap: wrap;
}

.flex-children {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	min-width: 250px;
}

@media (max-width: 768px) {
	body {
		max-width: 95%;
		font-size: 16px;
	}
}

a {
	color: #001b54;
	text-decoration: none;
}

.dark-mode a {
	color: #b6d9ff;
}

.dark-mode img {
	filter: invert(30%);
}