.label-item {
	padding: 0;
}

.label-item li {
	color: #404040;
	border-left: solid 6px var(--accent-tcolor);
	font-family: var(--sansSerif-font);
	border-bottom: solid 2px #dadada;
	background: whitesmoke;
	margin-bottom: 5px;
	line-height: 1.5;
	padding: 0;
	list-style-type: none !important;
	font-weight: bold;
	transition: all 0.3s;
}

.label-item li a {
	display: block;
	padding: 0.5em;
	text-decoration: none;
	color: inherit;
}

.label-item li:hover {
	scale: calc(1.02);
	cursor: pointer;
}