/* ---表設定--- */
.nikka-table {
	margin: 0 auto;
	width: 80%;
	border-collapse: collapse;
	/* border: solid 2px var(--accent-tcolor); */
	font-size: 18px;
	background-color: var(--main-bcolor);
	transition: all 0.3s ease;
}

.nikka-table th,
.nikka-table td {
	/* border: dashed 1px var(--accent-tcolor); */
	padding: 8px 12px;
	transition: border-color 0.3s ease;
}
.nikka-table th {
	background-color: var(--accent-bcolor);
	color: var(--accent-tcolor);
	font-weight: bold;
}

.nikka-table td {
	color: var(--main-tcolor);
}

.nikka-table tr:nth-child(odd) {
	background-color: #eee
}

.test-table {
	border-collapse: collapse;
	/* border: solid 2px var(--accent-tcolor); */
	font-size: 18px;
	background-color: var(--main-bcolor);
	transition: all 0.3s ease;
	text-align: center;
}

.test-table thead tr th {
	background-color: var(--accent-tcolor);
	color: var(--accent-bcolor);
}

.test-table th,
.test-table td {
	/* border: dashed 1px var(--accent-tcolor); */
	padding: 8px 12px;
	transition: border-color 0.3s ease;
	border: 1px rgb(170, 170, 170) solid;
}

.test-table th {
	background-color: var(--accent-bcolor);
	color: var(--accent-tcolor);
	font-weight: bold;
}

.test-table td {
	color: var(--main-tcolor);
}

@media (max-width: 768px) {
	.test-table {
		margin: 0 auto;
		width: 95%;
		border-collapse: collapse;
		/* border: solid 2px var(--accent-tcolor); */
		font-size: 18px;
		background-color: var(--main-bcolor);
		transition: all 0.3s ease;
		text-align: center;
	}

	.nikka-table {
		margin: 0 auto;
		width: 95%;
		border-collapse: collapse;
		/* border: solid 2px var(--accent-tcolor); */
		font-size: 18px;
		background-color: var(--main-bcolor);
		transition: all 0.3s ease;
	}

}